@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Go to Page for all information</h1>
    <h3>Your search ends here</h3>
    <hr />
    <b>Salute to Pulwama Martyrs</b>
</div>
